body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex{
  display: flex;
  flex-direction: column;
}

.nav-bar{
  background-color: rgb(243, 242, 242);
  color: black;
  display: flex;
  
}

.nav-item{
  padding-top: 10px;
  padding-left: 8px;
  font-size: .8rem;
  color: black;
}

.nav-item1{
  padding: 10px;
  padding-left: 13.5rem;
  padding-right: 2rem;
  font-size: 1rem;
  color: black;
}

.title{
  background-color: rgb(36, 35, 35);
  height: 12rem;
  padding-top: 1.5rem;
}

.Main-content{
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: .1fr .1fr .1fr .1fr;
  justify-content: center;
  
}
.flexbox{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-top: 3.5rem;
  border: 1px solid rgba(0, 0, 0, 0.185);
  
}

img{
  width: 12rem;
  height: 9rem;
}

.bold{
  font-weight: bold;
}

.cart{
  margin-top: 5px;
  margin-left: 36rem;
  height: 1.8rem;
  width: 5rem;
}

.midtit1{
  font-weight: bolder;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2px;
}

.midtit2{
  font-size: .9rem;
  color: white;
}

.price{
  margin-bottom: 0 ;
}

.rating{
  margin-left: 2.9rem;
  padding-bottom: 5px;  
}

.acart{
  margin-bottom: 15px;
}

.nav-item1, .nav-item{
  text-decoration: none;
}
